<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.numble.mapper.EpisodeMapper">
	<insert id="addMyNovel" parameterType="int">
		insert into my_novel (n_seq, u_seq,READ_DATE,e_seq)
		values(#{n_seq},#{u_seq},SYSDATE(),#{e_seq})
	</insert>
</mapper>